<% layout("./layouts/boilerplate") %>

<div class="row">
  <div class="col-5 offset-3">
    <form action="/login" method="POST" class="needs-validation" novalidate>
      <h1>Login on TranquilTrips</h1>
     
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input 
        name="username" 
        class="form-control" 
        required
        id="username" 
        />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input 
        name="password" 
        class="form-control" 
        required
        id="password" 
        type="password"
        />
      </div>

      <div>
        <button class="btn btn-success">Login</button>
      </div>
    </form>
  </div>
</div>
